*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding:0px 10%;
  /* flex-direction: row; */
}

img {
  height: 150px;
  width: 150px;
  flex: 0,5;
  background-color: #225D94;
}

.logo {
  cursor: pointer;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  
}
nav ul li a {
  color: #222F4B;
  transition: all 0.3s ease 0%;
  text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;

}
nav ul li a:hover {
  color: #225D94;
  text-decoration: none;
}